html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit; /* stylelint-disable-line */
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote::before, blockquote::after,
q::before, q::after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
}

*, *::before, *::after { /* stylelint-disable-line */
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

:root {
  /* --purpleBG: rgba(58, 0, 139, .07); */
}

html {
  background-color: #fafafa;
}

body {
  font-family: Jaldi;
  font-size: 18px;
  font-size: 1.8rem;
  height: 100vh;
  /* margin: 2rem; */
}

.body { height: 94vh; }

header {
  /* margin: 0 0 2rem; */
  padding: 20px 40px;
  padding: 2rem 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* max-height: 10vh; */
  height: 10%;
  background-color: rgba(255, 213, 22, .3);
}

.header-home {
  font-weight: bold;
  font-size: 23px;
  font-size: 2.3rem;
  text-decoration: none;
  color: #eb5941;

}

/* .header {
   kan create niet aanspreken
  &-create {
    min-width: 5rem;
    min-height: 3rem;
    background-color: var(--yellow);
  }

  &-home {
    color: blue;
  }
} */

.header-create {
  min-width: 50px;
  min-width: 5rem;
  min-height: 30px;
  min-height: 3rem;
  background-color: #ffd516;
  padding: 20px;
  padding: 2rem;
  color: #3a008b;
  text-decoration: none;
  font-weight: bold;
}

.card {
  width: 100vw;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.dreams-options {
  width: 25vw;
  height: 100%;
  background-color: #3a008b;
  padding: 30px 50px 30px 80px;
  padding: 3rem 5rem 3rem 8rem;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;

}

/*
.dreams-options-section {
  padding: 2rem 0;
} */

.dreams-question {
  color: #ffd516;
  font-size: 18px;
  font-size: 1.8rem;
  font-weight: bold;
  padding: 20px 0;
  padding: 2rem 0;
  max-width: 280px;
  max-width: 28rem;
  line-height: 20px;
  line-height: 2rem;
}

.dreams-you {
  width: 260px;
  width: 26rem;
  height: 310px;
  height: 31rem;
  background-color: #6fa6fe;

  position: absolute;
  left: 33%;
  top: 34%;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.dreams-you-img {
  max-width: 130px;
  max-width: 13rem;
  max-height: 250px;
  max-height: 25rem;
}

.checkbox {
  width: 1.3em;
  height: 1.3em;
  background-color: #3a008b;
  border-radius: 50%;
  vertical-align: middle;
  border: 2px solid #ffd516;
  border: .2rem solid #ffd516;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: none;
  cursor: pointer;
  margin: 6px;
  margin: .6rem;
}

.checkbox:checked {
  background-color: #ffd516;
}

.dream-label {
  color: white;
}

.submit-dreams {
  max-width: 300px;
  max-width: 30rem;
  margin: 30px 0;
  margin: 3rem 0;
  padding: 15px 25px;
  padding: 1.5rem 2.5rem;
  background: #ffd516;
  cursor: pointer;
  /* border-radius: 1rem; */
  border: 0 none;
  color: #3a008b;
  font-size: 19px;
  font-size: 1.9rem;
  font-weight: bold;
}

.card-chosen {
  width: 75vw;
  height: 100%;
  position: relative;
  background-color: rgba(255, 213, 22, .1);
}

.card-title {
  position: absolute;
  padding: 20px 18px;
  padding: 2rem 1.8rem;
  background-color: #ffd6d9;
  color: #3a008b;
  font-size: 30px;
  font-size: 3rem;
  font-weight: bold;
  top: 30%;
  left: 8%;
}

.dreams-title {
  position: absolute;
  top: 11%;
  right: 32%;
  background-color: #ffd6d9;
  padding: 10px;
  padding: 1rem;
  font-size: 70px;
  font-size: 7rem;
  font-weight: bold;
  color: #3a008b;
}

.dream-img {
  max-width: 120px;
  max-width: 12rem;
  max-height: 120px;
  max-height: 12rem;
}

.dream-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.dream-item-1 {
  position: absolute;
  top: 12%;
  left: 29%;
  width: 240px;
  width: 24rem;
  height: 180px;
  height: 18rem;
  background-color: #f17dae;

}

.dream-item-2 {
  position: absolute;
  top: 13%;
  right: 19%;
  background-color: #3a008b;
  width: 140px;
  width: 14rem;
  height: 140px;
  height: 14rem;
}

.dream-item-3 {
  position: absolute;
  bottom: 42%;
  left: 8%;
  background-color: #ffd516;
  width: 280px;
  width: 28rem;
  height: 160px;
  height: 16rem;
}

.dream-item-4 {
  position: absolute;
  top: 29%;
  right: 7%;
  background-color: #6fa6fe;
  width: 260px;
  width: 26rem;
  height: 160px;
  height: 16rem;
}

.dream-item-5 {
  position: absolute;
  top: 42%;
  right: 29%;
  background-color: #eb5941;
  width: 190px;
  width: 19rem;
  height: 150px;
  height: 15rem;
}

.dreams-options-section .input {
  margin: 0;
  padding: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: 0;
}

.female {
  background: url(/assets/img/female.png) no-repeat;
  width: 91px;
  width: 9.1rem;
  height: 130px;
  height: 13rem;
}

.male {
  background: url(/assets/img/male.png) no-repeat;
  width: 150px;
  width: 15rem;
  height: 110px;
  height: 11rem;
}

.sex-label {
  cursor: pointer;
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  width: 100px;
  height: 70px;
  -webkit-transition: all 100ms ease-in;
  transition: all 100ms ease-in;
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="linear" slope="1.8" /><feFuncG type="linear" slope="1.8" /><feFuncB type="linear" slope="1.8" /></feComponentTransfer><feColorMatrix type="matrix" color-interpolation-filters="sRGB" values="0.2126 0.7152 0.0722 0 0 0.2126 0.7152 0.0722 0 0 0.2126 0.7152 0.0722 0 0 0 0 0 1 0" /><feComponentTransfer color-interpolation-filters="sRGB"><feFuncA type="table" tableValues="0 0.7" /></feComponentTransfer></filter></svg>#filter');
  -webkit-filter: brightness(1.8) grayscale(1) opacity(.7);
          filter: brightness(1.8) grayscale(1) opacity(.7);
}

.input:hover {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="linear" slope="1.2" /><feFuncG type="linear" slope="1.2" /><feFuncB type="linear" slope="1.2" /></feComponentTransfer><feColorMatrix type="matrix" color-interpolation-filters="sRGB" values="0.6063000000000001 0.3576 0.0361 0 0 0.1063 0.8575999999999999 0.0361 0 0 0.1063 0.3576 0.5361 0 0 0 0 0 1 0" /><feComponentTransfer color-interpolation-filters="sRGB"><feFuncA type="table" tableValues="0 0.9" /></feComponentTransfer></filter></svg>#filter');
  -webkit-filter: brightness(1.2) grayscale(.5) opacity(.9);
          filter: brightness(1.2) grayscale(.5) opacity(.9);
}

.sex-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

input[type='radio']:checked {
  outline: 0;
  -webkit-filter: none;
          filter: none;
}

span { color: #6d84b4; }

/*# sourceMappingURL=style.css.map*/