html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit; /* stylelint-disable-line */
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote::before, blockquote::after,
q::before, q::after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*, *::before, *::after { /* stylelint-disable-line */
  box-sizing: inherit;
}

html {
  background-color: #ffd0ba;
}

body {
  font-family: Jaldi;
  font-size: 18px;
  font-size: 1.8rem;
  height: 100vh;
  color: white;
  /* margin: 2rem; */
}

header {
  padding: 20px 40px;
  padding: 2rem 4rem;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
  height: 10%;
  /* background-color: var(--purple); */
}

footer {
  width: 100vw;
  min-height: 50px;
  min-height: 5rem;
  background-color: rgba(255, 213, 22, .3);
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
}

.header {
}

.header-home {
  font-weight: bold;
  font-size: 23px;
  font-size: 2.3rem;
  text-decoration: none;
  color: #f28886;
}

.header-create {
  min-width: 50px;
  min-width: 5rem;
  min-height: 30px;
  min-height: 3rem;
  background-color: #ffd516;
  padding: 20px;
  padding: 2rem;
  color: #3f2bad;
  text-decoration: none;
  font-weight: bold;
}

.wrapper {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: justify;
      justify-content: space-between;
  height: 100vh;
}

input, textarea {
  outline: none;
  border: none;
  background-color: #3f2bad;
}

.card {
  width: 100vw;
  height: 94vh;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: end;
      align-items: flex-end
  /* background-color: var(--purple); */
}

.card-back {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  width: 100vw;
  height: 90vh;
}

.card-back-container {
  width: 75%;
  max-width: 1200px;
  max-width: 120rem;
  height: 70%;
  position: relative;
  padding: 50px;
  padding: 5rem;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #3f2bad;
  box-shadow: 0 1rem 2.2rem rgba(63, 43, 173, .35);
}

.card-back-title {
  font-size: 36px;
  font-size: 3.6rem;
  font-weight: bold;
}

.card-content {
}

.card-content-years {
  display: -ms-flexbox;
  display: flex;
}

.card-content-years-p {
  font-size: 18px;
  font-size: 1.8rem;
  font-weight: bold;
}

.card-content-years-input {
  border-bottom: 2px solid #ffd0ba;
  border-bottom: .2rem solid #ffd0ba;
}

.card-content-dreams {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.card-content-dream {
  background-color: #ffd0ba;
  color: #3f2bad;
  font-size: 18px;
  font-size: 1.8rem;
  font-weight: bold;
  padding: 3px 10px;
  padding: .3rem 1rem;
}

.card-content-information {
  max-width: 800px;
  max-width: 80rem;
  line-height: 25px;
  line-height: 2.5rem;
}

.card-content-input-wrap {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: start;
      justify-content: flex-start;
}

.card-content-input {
  border: 2px solid #ffd0ba;
  border: .2rem solid #ffd0ba;
  max-width: 600px;
  max-width: 60rem;
}

.card-content-label {
  font-size: 18px;
  font-size: 1.8rem;
  color: #ffd0ba;
  font-weight: bold;
}

.card-chosen {
  width: 75%;
  height: 70%;
  position: relative;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  background-color: #ffd0ba;
  box-shadow: 0 1rem 2.2rem rgba(232, 175, 129, .43);
}

.card-title {
  position: absolute;
  padding: 20px 18px;
  padding: 2rem 1.8rem;
  color: white;
  font-size: 82px;
  font-size: 8.2rem;
  font-weight: bold;
  top: 8%;
  right: 10%;
}

.card-left {
  height: 100%;
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: end;
      align-items: flex-end;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.dreams {
}

.dreams-options {
  width: 30vw;
  min-width: 350px;
  min-width: 35rem;
  padding: 100px 50px;
  padding: 10rem 5rem;
  height: 100vh;
  background-color: #3f2bad;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
}

.dreams-options-section {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
}

.dreams-question {
  color: white;
  font-size: 25px;
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  padding: 20px 0;
  padding: 2rem 0;
  max-width: 300px;
  max-width: 30rem;
  line-height: 35px;
  line-height: 3.5rem;
}

.dreams-you {
  width: 300px;
  width: 30rem;
  height: 400px;
  height: 40rem;
  background-color: #3f2bad;
  position: absolute;
  left: 33%;
  top: 37%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: end;
      justify-content: flex-end;
}

.dreams-you-img {
  max-width: 130px;
  max-width: 13rem;
  max-height: 250px;
  max-height: 25rem;
}

.dreams-you-sex .input {
  margin: 0;
  padding: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: 0;
}

.dreams-you-sex {
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 20px;
  padding: 2rem;
}

.dreams-checkbox-options {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.dreams-title {
  position: absolute;
  top: 11%;
  left: 42%;
  background-color: #ffd0ba;
  padding: 10px;
  padding: 1rem;
  font-size: 50px;
  font-size: 5rem;
  font-weight: bold;
  color: #3f2bad;
}

.dreams-title-2 {
  top: 19%;
}

.dreams-title-3 {
  top: 26%;
}

.dreams-label {
  color: white;
  font-size: 14px;
  font-size: 1.4rem;
  letter-spacing: 1px;
  letter-spacing: .1rem;
}

.checkbox {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 58px;
  width: 5.8rem;
  height: 58px;
  height: 5.8rem;
  outline: 0;
  display: inline-block
}

.checkbox-wrapper {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  padding: 15px;
  padding: 1.5rem;
  -ms-flex-align: center;
      align-items: center;
}

.checkbox:checked {
  display: inline-block;
}

.check-Job {
  background: url(/assets/img/icons/job.png) no-repeat;
  background-size: 5rem;
  background-position: center
}

.check-Job:checked {
  background: url(/assets/img/icons/job-selected.png) no-repeat;
  background-size: 5.6rem;
}

.check-Kinderen {
  background: url(/assets/img/icons/kinderen.png) no-repeat;
  background-size: 5rem;
  background-position: center
}

.check-Kinderen:checked {
  background: url(/assets/img/icons/kinderen-selected.png) no-repeat;
  background-size: 5.6rem;
}

.check-Huis {
  background: url(/assets/img/icons/huis.png) no-repeat;
  background-size: 5rem;
  background-position: center
}

.check-Huis:checked {
  background: url(/assets/img/icons/huis-selected.png) no-repeat;
  background-size: 5.6rem;
}

.check-Geluk {
  background: url(/assets/img/icons/geluk.png) no-repeat;
  background-size: 5rem;
  background-position: center
}

.check-Geluk:checked {
  background: url(/assets/img/icons/geluk-selected.png) no-repeat;
  background-size: 5.6rem;
}

.check-Geld {
  background: url(/assets/img/icons/geld.png) no-repeat;
  background-size: 5rem;
  background-position: center
}

.check-Geld:checked {
  background: url(/assets/img/icons/geld-selected.png) no-repeat;
  background-size: 5.6rem;
}

.check-Huisdier {
  background: url(/assets/img/icons/huisdier.png) no-repeat;
  background-size: 5rem;
  background-position: center
}

.check-Huisdier:checked {
  background: url(/assets/img/icons/huisdier-selected.png) no-repeat;
  background-size: 5.6rem;
}

.check-Gezondheid {
  background: url(/assets/img/icons/gezondheid.png) no-repeat;
  background-size: 5rem;
  background-position: center
}

.check-Gezondheid:checked {
  background: url(/assets/img/icons/gezondheid-selected.png) no-repeat;
  background-size: 5.6rem;
}

.check-Reizen {
  background: url(/assets/img/icons/reizen.png) no-repeat;
  background-size: 5rem;
  background-position: center
}

.check-Reizen:checked {
  background: url(/assets/img/icons/reizen-selected.png) no-repeat;
  background-size: 5.6rem;
}

.check-Auto {
  background: url(/assets/img/icons/auto.png) no-repeat;
  background-size: 5rem;
  background-position: center
}

.check-Auto:checked {
  background: url(/assets/img/icons/auto-selected.png) no-repeat;
  background-size: 5.6rem;
}

.check-Diploma {
  background: url(/assets/img/icons/diploma.png) no-repeat;
  background-size: 5rem;
  background-position: center
}

.check-Diploma:checked {
  background: url(/assets/img/icons/diploma-selected.png) no-repeat;
  background-size: 5.6rem;
}

.check-Liefde {
  background: url(/assets/img/icons/liefde.png) no-repeat;
  background-size: 5rem;
  background-position: center
}

.check-Liefde:checked {
  background: url(/assets/img/icons/liefde-selected.png) no-repeat;
  background-size: 5.6rem;
}

.check-Trouwen {
  background: url(/assets/img/icons/trouwen.png) no-repeat;
  background-size: 5rem;
  background-position: center
}

.check-Trouwen:checked {
  background: url(/assets/img/icons/trouwen-selected.png) no-repeat;
  background-size: 5.6rem;
}

.submit-dreams {
  width: 300px;
  width: 30rem;
  padding: 15px 25px;
  padding: 1.5rem 2.5rem;
  margin: 0 180px 0 0;
  margin: 0 18rem 0 0;
  background: #f28886;
  cursor: pointer;
  /* border-radius: 1rem; */
  border: 0 none;
  color: white;
  font-size: 25px;
  font-size: 2.5rem;
  font-weight: bold;
}

.dream-img {
  max-width: 120px;
  max-width: 12rem;
  max-height: 120px;
  max-height: 12rem;
}

.dream-item {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center
}

.dream-item-1 {
  position: absolute;
  top: 8%;
  left: 21%;
  width: 300px;
  width: 30rem;
  height: 180px;
  height: 18rem;
  background-color: #3f2bad;
}

.dream-item-2 {
  position: absolute;
  top: 37%;
  left: 7%;
  background-color: #f28886;
  width: 260px;
  width: 26rem;
  height: 150px;
  height: 15rem;
}

.dream-item-3 {
  position: absolute;
  bottom: 17%;
  left: 10%;
  background-color: #3f2bad;
  width: 230px;
  width: 23rem;
  height: 150px;
  height: 15rem;
}

.dream-item-4 {
  position: absolute;
  top: 37%;
  right: 13%;
  background-color: #f28886;
  width: 260px;
  width: 26rem;
  height: 160px;
  height: 16rem;
}

.dream-item-5 {
  position: absolute;
  bottom: 16%;
  right: 16%;
  background-color: #f28886;
  width: 230px;
  width: 23rem;
  height: 150px;
  height: 15rem;
}

.female {
  background: url(/assets/img/female.png) no-repeat;
  width: 91px;
  width: 9.1rem;
  height: 130px;
  height: 13rem;
}

.male {
  background: url(/assets/img/male.png) no-repeat;
  width: 150px;
  width: 15rem;
  height: 110px;
  height: 11rem;
}

.sex-input {
  cursor: pointer;
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  width: 70px;
  width: 7rem;
  height: 70px;
  height: 7rem;
  transition: all 100ms ease-in;
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="linear" slope="1.8" /><feFuncG type="linear" slope="1.8" /><feFuncB type="linear" slope="1.8" /></feComponentTransfer><feColorMatrix type="matrix" color-interpolation-filters="sRGB" values="0.2126 0.7152 0.0722 0 0 0.2126 0.7152 0.0722 0 0 0.2126 0.7152 0.0722 0 0 0 0 0 1 0" /><feComponentTransfer color-interpolation-filters="sRGB"><feFuncA type="table" tableValues="0 0.7" /></feComponentTransfer></filter></svg>#filter');
  -webkit-filter: brightness(1.8) grayscale(1) opacity(.7);
          filter: brightness(1.8) grayscale(1) opacity(.7);
}

.input:hover {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="linear" slope="1.2" /><feFuncG type="linear" slope="1.2" /><feFuncB type="linear" slope="1.2" /></feComponentTransfer><feColorMatrix type="matrix" color-interpolation-filters="sRGB" values="0.6063000000000001 0.3576 0.0361 0 0 0.1063 0.8575999999999999 0.0361 0 0 0.1063 0.3576 0.5361 0 0 0 0 0 1 0" /><feComponentTransfer color-interpolation-filters="sRGB"><feFuncA type="table" tableValues="0 0.9" /></feComponentTransfer></filter></svg>#filter');
  -webkit-filter: brightness(1.2) grayscale(.5) opacity(.9);
          filter: brightness(1.2) grayscale(.5) opacity(.9);
}

input[type='radio']:checked {
  outline: 0;
  -webkit-filter: none;
          filter: none;
}

span { color: #6d84b4; }

/*# sourceMappingURL=style.css.map*/