@import 'reset';
@import 'vars';

html {
  background-color: var(--bg-color);
}

body {
  font-family: Jaldi;
  font-size: 1.8rem;
  height: 100vh;
  /* margin: 2rem; */
}

.body { height: 94vh; }

header {
  /* margin: 0 0 2rem; */
  padding: 2rem 4rem;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  /* max-height: 10vh; */
  height: 10%;
  background-color: var(--yellowBG2);
}

.header-home {
  font-weight: bold;
  font-size: 2.3rem;
  text-decoration: none;
  color: var(--reddish);

}

/* .header {
   kan create niet aanspreken
  &-create {
    min-width: 5rem;
    min-height: 3rem;
    background-color: var(--yellow);
  }

  &-home {
    color: blue;
  }
} */

.header-create {
  min-width: 5rem;
  min-height: 3rem;
  background-color: var(--yellow);
  padding: 2rem;
  color: var(--purple);
  text-decoration: none;
  font-weight: bold;
}

.card {
  width: 100vw;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.dreams-options {
  width: 25vw;
  height: 100%;
  background-color: var(--purple);
  padding: 3rem 5rem 3rem 8rem;

  display: flex;
  flex-direction: column;
  justify-content: space-around;

}
/*
.dreams-options-section {
  padding: 2rem 0;
} */

.dreams-question {
  color: var(--yellow);
  font-size: 1.8rem;
  font-weight: bold;
  padding: 2rem 0;
  max-width: 28rem;
  line-height: 2rem;
}

.dreams-you {
  width: 26rem;
  height: 31rem;
  background-color: var(--blue);

  position: absolute;
  left: 33%;
  top: 34%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.dreams-you-img {
  max-width: 13rem;
  max-height: 25rem;
}

.checkbox {
  width: 1.3em;
  height: 1.3em;
  background-color: var(--purple);
  border-radius: 50%;
  vertical-align: middle;
  border: .2rem solid var(--yellow);
  appearance: none;
  outline: none;
  cursor: pointer;
  margin: .6rem;
}

.checkbox:checked {
  background-color: var(--yellow);
}

.dream-label {
  color: white;
}

.submit-dreams {
  max-width: 30rem;
  margin: 3rem 0;
  padding: 1.5rem 2.5rem;
  background: var(--yellow);
  cursor: pointer;
  /* border-radius: 1rem; */
  border: 0 none;
  color: var(--purple);
  font-size: 1.9rem;
  font-weight: bold;
}

.card-chosen {
  width: 75vw;
  height: 100%;
  position: relative;
  background-color: var(--yellowBG);
}

.card-title {
  position: absolute;
  padding: 2rem 1.8rem;
  background-color: var(--lightPink);
  color: var(--purple);
  font-size: 3rem;
  font-weight: bold;
  top: 30%;
  left: 8%;
}

.dreams-title {
  position: absolute;
  top: 11%;
  right: 32%;
  background-color: var(--lightPink);
  padding: 1rem;
  font-size: 7rem;
  font-weight: bold;
  color: var(--purple);
}

.dream-img {
  max-width: 12rem;
  max-height: 12rem;
}

.dream-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.dream-item-1 {
  position: absolute;
  top: 12%;
  left: 29%;
  width: 24rem;
  height: 18rem;
  background-color: var(--pink);

}

.dream-item-2 {
  position: absolute;
  top: 13%;
  right: 19%;
  background-color: var(--purple);
  width: 14rem;
  height: 14rem;
}

.dream-item-3 {
  position: absolute;
  bottom: 42%;
  left: 8%;
  background-color: var(--yellow);
  width: 28rem;
  height: 16rem;
}

.dream-item-4 {
  position: absolute;
  top: 29%;
  right: 7%;
  background-color: var(--blue);
  width: 26rem;
  height: 16rem;
}

.dream-item-5 {
  position: absolute;
  top: 42%;
  right: 29%;
  background-color: var(--reddish);
  width: 19rem;
  height: 15rem;
}

.dreams-options-section .input {
  margin: 0;
  padding: 0;
  appearance: none;
  outline: 0;
}

.female {
  background: url(../assets/img/female.png) no-repeat;
  width: 9.1rem;
  height: 13rem;
}

.male {
  background: url(../assets/img/male.png) no-repeat;
  width: 15rem;
  height: 11rem;
}

.sex-input {
  cursor: pointer;
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  width: 100px;
  height: 70px;
  transition: all 100ms ease-in;
  filter: brightness(1.8) grayscale(1) opacity(.7);
}

.input:hover {
  filter: brightness(1.2) grayscale(.5) opacity(.9);
}

.sex-section {
  display: flex;
}

input[type='radio']:checked {
  outline: 0;
  filter: none;
}

span { color: #6d84b4; }
