:root {
  --yellow: #ffd516;
  --pink: #f28886;
  --lightPink: #ffd0ba;
  --pinkBG: rgba(241, 125, 174, .1);
  --blue: #6fa6fe;
  --purple: #3f2bad;
  --purpleBG: #8367c7;
  --yellowBG: rgba(255, 213, 22, .1);
  --yellowBG2: rgba(255, 213, 22, .3);
}
